extends layout

block content
  .container
    a(ng-click='ToggleForm()') 
      img.plus(src='/images/plusIcon.png')
      span.plusSpan Add a Post
    div.form(ng-show='showForm')
      form(ng-submit='getPost()')
        input(type="text" ng-model='title' placeholder='Enter Post Title')
        br
        input(type="text" ng-model='author' placeholder='Enter Author Name')
        br
        input(type="text" ng-model='image' placeholder='Enter Image URL')
        br
        input(type="text" ng-model='description' placeholder='Enter a Description')
        br
        input.submit(type="submit")
    div.posts(ng-repeat='post in posts|filter: snoo')
      img.postImage(src='{{post.image}}')
      div.postContent
        h2 {{post.title}}
        p.author 
          span.bold Posted by: 
          span {{post.author}}
        p {{post.description}}
        p 
          img.arrow(src='/images/downvoteGray.png' ng-click='downVote(post)')
          span.upvotes {{post.upvotes}}
          img.arrow(src='/images/upvoteGray.png' ng-click='upVote(post)')
        p 
          span.bold Posted At: 
          span {{post.date | date: 'medium'}}
        div.commentButtons(ng-show='post.showCommentButtons')
          button(ng-click='toggleComment(post)') Show Comments
          button(ng-click='toggleCommentForm(post)') Add a Comment
        div.comments(ng-show='post.showComment')
          div.comment(ng-repeat='thingy in post.comments')
            p
              span.bold Posted by: 
              span {{thingy.name}} 
            p {{thingy.comment}} 
            p.commentDate 
              span.bold Posted At: 
              span {{thingy.date | date: 'medium'}}
            hr.lightgray
          button(ng-click='toggleCommentForm(post)' ng-show='post.showExtraButton') Add a Comment
        div.comments(ng-show='post.showCommentForm')
          form(ng-submit='addComment(post, name, comment)')
            input(type="text", ng-model='name' placeholder='Author Name')
            input(type="text", ng-model='comment' Placeholder= 'Comment...')
            input.submit(type='submit')
      hr
    
      
