body {
  padding-left: 50px;
  padding-right: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgba(0,0,0,.05);
}

a {
  color: #00B7FF;
}

.postImage{
  width: 200px;
  float: left;
  margin: 10px;
}

.postContent{
  float: left;
}

hr{
  clear: both;
  border: 1px solid white;
}

.bold{
  font-weight: bold;
}

.arrow{
  height: 25px;
  vertical-align: middle;
}

.upvotes{
  font-size: 2em;
  margin-left: 5px;
  margin-right: 5px;
  vertical-align: middle;
}

.posts{
  background-color: white;
  outline: 1px solid lightgray;
  padding: 10px;
}

.posts{
  margin-top: 10px;
  position: relative;
}


.logo{
  width: 200px;
}

header{
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 10px;
}

.container{
  margin-top: 100px;
}

.plus{
  width: 50px;
  vertical-align: middle;
}

.plusSpan{
  vertical-align: middle;
  color: #333333;
}
.author{
  position: absolute;
  top: 20px;
  right: 40px;
}
.commentDate{
  position: absolute;
  top: 0;
  right: 0;
}

input{
  margin: 5px;
  width: 75%;
  font-size: 1.3em;
}

.submit{
  width: 100px;
  font-weight: bold;
  font-size: 2em;
}

.form{
  text-align: center;
}

.commentButtons{
  position: absolute;
  bottom: 30px;
}

.lightgray{
  border: 1px solid lightgray;
}

.comments{
  margin-left: 20px;
  width: inherit;
  background: rgba(0,0,0,.05);
  padding: 10px;
  width: 200%;
  position: relative;
}

.comment{
  position: relative;
}
